* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Muli", "sans-serif";
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  width: 80vw;
  display: flex;
  height: 70vh;
  margin-top: 1.25rem;

}

.card {
  flex: 0.5;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: white;
  position: relative;
  }

  .card__text {
    display: none;
    position: absolute;
    font-size: 1.5rem;
    bottom: 1.25rem;
    left: 1.25rem;
  }


.card.active {
  flex: 2;
}

.card.active .card__text {
  display: block;
}

@media(max-width: 750px) {
  .card:nth-of-type(4) {
    display: none;
  }
  .card:nth-of-type(5) {
    display: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }
}